<div layout="column" ng-init="init();">
  <div class="raspi-frame" layout="column">
    <!-- <span class="raspi-label-m">{{jsondata}}</span> -->
    <div layout="column" ng-if="jsondata===undefined">
      <span>No data</span>
    </div>
    <div layout="column" ng-if="jsondata!==undefined">
      <span class="raspi-label-m">Sensor data</span>
      <div>
        <table style="width:100%;">
          <tr layout="row">
            <th flex>type</th>
            <th flex>id</th>
            <th flex>value</th>
            <th flex>ts</th>
          </tr>

          <tr ng-repeat="sensor in jsondata.sensors track by $index" layout="row">
            <td flex>{{sensor.type}}</td>
            <td flex>{{sensor.id}}</td>
            <td flex>{{sensor.value2}}</td>
            <td flex>{{sensor.ts}}</td>
          </tr>

        </table>
      </div>

      <span class="raspi-label-m">Measuring devices</span>
      <div>
        <table style="width:100%;">
          <tr layout="row">
            <th flex>ip</th>
            <th flex>type</th>
            <th flex>id</th>
            <th flex>in</th>
            <th flex>rx counter</th>
          </tr>

          <tr ng-repeat="device in jsondata.devices track by $index" layout="row">
            <td flex>{{device.ip}}</td>
            <td flex>{{device.type}}</td>
            <td flex>{{device.id}}</td>
            <td flex>{{device.in}}</td>
            <td flex>{{device.counter_rx}}</td>
          </tr>

        </table>
      </div>
    </div>

  </div>

</div>
