<div layout="column" ng-init="init();">
  <div class="raspi-frame" layout="column">

    <!-- <div layout="column" ng-if="jsondata!==undefined">
      {{jsondata.info}}
    </div> -->


    <md-input-container>
      <label class="raspi-label-s">Pump cmd</label>
      <input class="raspi-padding" max="255" min="0" ng-change="" ng-model="control.pump" type="number">
    </md-input-container>

    <md-slider aria-label="a" flex ng-model="control.pump" step="1" min="0" max="255" ng-change="send({'type': 'dev', 'id': 1, 'value': control.pump});"></md-slider>


    <!-- <div layout="row">
        <div flex id="slider1"></div>
        <md-button class="md-primary" ng-click="setValue(1,control.pump); send({'reqtype':'control','pump':control.pump});">Send</md-button>
      </div> -->



    <md-input-container>
      <label class="raspi-label-s">Ref</label>
      <input class="raspi-padding" min="0" ng-change="" ng-model="control.ref" type="number">
    </md-input-container>
    <md-slider aria-label="a" flex ng-model="control.ref" step="1" min="0" max="700" ng-change="send({'type': 'app', 'id': 1, 'value': control.ref});"></md-slider>



    <md-input-container>
      <label class="raspi-label-s">Sensor output</label>
      <input class="raspi-padding" max="700" min="0" ng-change="" ng-model="jsondata.info.yk" type="number">
    </md-input-container>

    <md-slider aria-label="a" flex ng-model="jsondata.info.yk" step="1" min="0" max="700"></md-slider>


    <md-divider class="raspi-margin"></md-divider>
    <div layout="row">
      <div flex layout="column">
        <label class="raspi-label-s">Log</label>
        <md-button class="md-primary" ng-click="send({'type': 'app', 'id': 10, 'value': true});">Start log</md-button>
        <md-button class="md-primary" ng-click="send({'type': 'app', 'id': 10, 'value': false});">Stop log</md-button>
        <!-- ng-click="downloadServerLog('/api/download/log');" -->
        <md-button class="md-primary" href="/api/download/log" download>Download log</md-button>
      </div>
      <div flex layout="column">
        <label class="raspi-label-s">Mode</label>
        <md-radio-group ng-model="control.mode" ng-change="send({'type': 'app', 'id': 20, 'value': control.mode});">
          <md-radio-button value="0">Manual</md-radio-button>
          <md-radio-button value="1">Auto</md-radio-button>
          <md-radio-button value="2">Ident/ramp</md-radio-button>
          <md-radio-button value="3">Ident/step</md-radio-button>
          <md-radio-button value="4">Ident/spab</md-radio-button>
          <md-radio-button value="5">Auto/step</md-radio-button>
        </md-radio-group>
      </div>

      <div flex layout="column" ng-if="jsondata.controllers!==undefined">
        <label class="raspi-label-s">Control type</label>
        <md-radio-group ng-if="!jsondata.info.multi" ng-model="control.controller_selection" ng-change="send({'type': 'app', 'id': 31, 'value': control.controller_selection});">
          <md-radio-button ng-repeat="option in jsondata.controller_names" ng-value="$index" required>
            {{$index}}. {{ option }}
          </md-radio-button>
        </md-radio-group>
        <md-radio-group ng-if="jsondata.info.multi" ng-model="jsondata.info.controller_id">
          <md-radio-button ng-repeat="option in jsondata.controller_names" ng-value="$index" required>
            {{$index}}. {{ option }}
          </md-radio-button>
        </md-radio-group>
      </div>

      <div flex layout="column">
        <label class="raspi-label-s">Controller setup</label>
        <md-radio-group ng-model="control.supervisor" ng-change="send({'type': 'app', 'id': 30, 'value': control.supervisor});">
          <md-radio-button value="0">Simple</md-radio-button>
          <md-radio-button value="1">Adaptive</md-radio-button>
        </md-radio-group>
        <!-- 'multi' -->
      </div>

    </div>
  </div>

</div>
