html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.esri-view {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.esri-view-50 {
  padding: 0;
  margin: 0;
  height: 50%;
  width: 100%;
}
.esri-view-container {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
